@model NewListWizard.Models.DisplayContent
@{
    ViewData["Title"] = "DisplayContentPartial";
  
}
        <h4 >Missing fields are</h4>
        <div class="res-circle-missing">
          <div class="circle-txt"> @Model.MissingField</div>
        </div>
        

        <h4 >Imported fields are</h4>
        <div class="res-circle-imported">
          <div class="circle-txt"> @Model.ImportedField</div>
        </div>



        <table class="table table-bordered" border="1">
            <tbody>
                @foreach (var cell in Model.csvContents)
                {
                    <tr>
                        <td>
                            @cell.FirstName
                        </td>
                        <td>
                            @cell.LastName
                        </td>
                        <td>
                            @cell.CompanyName
                        </td>
                        <td>
                            @cell.Title
                        </td>
                        <td>
                            @cell.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
